.user-name {
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding: 20px;
  margin-bottom: -30px;
  bottom: 670px;
  width: 50%;
}

.fas.fa-user-alt {
  width: 15px;
  height: 30px;
  position: relative;
  right: 15px;
}

.name {
  position: relative;
  bottom: 20px;
  right: 18px;
}

.fas.fa-star {
  color: rgb(237, 8, 8);
  bottom: 698px;
  position: relative;
  left: 4px;
}

.date {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(69, 71, 72);
  font-family: "Open Sans";
  bottom: 695px;
  position: relative;
  left: 4px;
}

.reviewbody {
  margin-top: 10px;
  font-family: "Open Sans";
  font-size: 18px;
  bottom: 695px;
  position: relative;
  left: 5px;
}

.review-div {
  padding: 5px;
  margin-bottom: 15px;
  position: relative;
  bottom: 800px;
}

.delete-review-button {
  background-color: red;
  color: white;
  border-radius: 8px;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  bottom: 690px;
  cursor: pointer;
}

.delete-review-button:hover {
  background-color: white;
  color: red;
}

.create-review-container {
  border-top: 1px solid rgb(235, 230, 230);
  margin-top: 70px;
}

.review-div {
  margin-left: 20px;
  margin-top: 80px;
  padding-top: 20px;
  margin-left: 10px;
  border-top: 1px solid rgb(216, 210, 210);
}

.review-content {
  margin-top: 10px;
  position: relative;
  bottom: 800px;
  left: 8px;
}

.review-button {
  background-color: red;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  position: relative;
  bottom: 800px;
  left: 8px;
  cursor: pointer;
}

.rating-select,
.rate-label {
  position: relative;
  bottom: 800px;
  left: 8px;
}
