.user-name {
  position: relative;
  width: 50%;
  left: 1%;
  margin-top: 30px;
}

.name {
  position: relative;
  left: 3%;
  bottom: 36px;
}

.fas.fa-user-alt {
  position: relative;
  left: 4px;
}

.form-error {
  color: red;
}

.fas.fa-star {
  color: rgb(237, 8, 8);
  bottom: 40px;
  position: relative;
  left: 25px;
}

.date {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(69, 71, 72);
  font-family: "Open Sans";
  bottom: 40px;
  position: relative;
  left: 25px;
}

.reviewbody {
  /* margin-top: 10px; */
  font-family: "Open Sans";
  font-size: 18px;
  bottom: 40px;
  position: relative;
  margin-top: 10px;
  left: 25px;
}

.review-div {
  padding: 5px;
  margin-bottom: 15px;
}

.delete-review-button {
  background-color: red;
  color: white;
  border-radius: 8px;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  bottom: 40px;
  left: 25px;
  cursor: pointer;
}

.delete-review-button:hover {
  background-color: white;
  color: red;
}

.create-review-container {
  border-top: 1px solid rgb(235, 230, 230);
  /* margin-top: 70px; */
}

.review-content {
  margin-top: 10px;
  position: relative;
  /* bottom: 800px; */
  left: 8px;
}

.review-button {
  background-color: red;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  position: relative;
  left: 8px;
  cursor: pointer;
}

.review-button:disabled,
.review-button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.rating-select,
.rate-label {
  position: relative;

  left: 8px;
}
