.user-name {
  display: flex;
  justify-content: flex-start;
  /* width: 200px; */
  /* height: 70px; */
  padding: 20px;
  margin-bottom: -30px;
}

.fas.fa-user-alt {
  /* border: 2px solid black; */
  /* border-radius: 80%; */
  width: 15px;
  height: 30px;
  position: relative;
  right: 15px;
}

.name {
  position: relative;
  bottom: 20px;
  right: 18px;
}

.fas.fa-star {
  color: rgb(237, 8, 8);
  /* background-color: red; */
  /* border: 1px solid red; */
}

.date {
  /* background-color: aqua; */
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(69, 71, 72);
  font-family: "Open Sans";
}

.reviewbody {
  margin-top: 10px;
  font-family: "Open Sans";
  font-size: 18px;
}

.review {
  padding: 5px;
  margin-bottom: 15px;
}

.delete-review-button {
  background-color: red;
  color: white;
  border-radius: 8px;
  position: relative;
  top: 20px;
  font-size: 12px;
  font-weight: bold;
}

.create-review-container {
  border-top: 1px solid rgb(235, 230, 230);
  margin-top: 70px;
}

.review-div {
  /* border-top: 1px solid rgb(235, 230, 230); */
  margin-left: 20px;
  margin-top: 50px;
}
