body {
  font-family: Helvetica Neue, sans-serif;
}

.master-nav {
  display: flex;
  border-bottom: 2px solid rgb(223, 222, 222);
  height: 150px;
}

.profile-button {
  height: auto;
  position: absolute;
  left: 85%;
  top: 6%;
  border: none;
  background-color: white;
  cursor: pointer;
  /* overflow: hidden; */
}

.all-list {
  color: black;
  height: auto;
  width: auto;
  position: absolute;
  left: 89%;
  top: 3%;
  border: 1px solid gray;
  border-radius: 30px;
  margin: 5px;
  padding: 5px;
}
.fas {
  padding-right: 10px;
  overflow: hidden;
}
.list {
  margin: 5px;
}
.logout-button {
  color: black;
  border-radius: 7px;
  font-size: 18px;
  cursor: pointer;
}

.home-icon {
  height: 50px;
  width: 60px;
  /* margin-right: 20px; */
  position: relative;
  top: 60px;
  left: 50px;
}

.yelp-icon {
  height: 50px;
  position: relative;
  top: 60px;
  left: 60px;
}

.hometag {
  width: auto;
  color: black;
  position: absolute;
  left: 15%;
  top: 8%;
  text-decoration: none;
  font-size: 20px;
}

.add-business {
  width: auto;
  color: black;
  position: absolute;
  left: 30%;
  top: 8%;
  font-size: 20px;
}

.add-button {
  background-color: transparent;
  text-decoration: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.home {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.hometag:hover,
.home:hover,
.add-button:hover {
  font-size: 22px;
}

/*
For business list area
*/

.intro {
  font-size: 21px;
  font-family: Helvetica Neue, sans-serif;
  /* margin-left: 45px; */
  margin-top: 2%;
  /* margin: 10px; */
  /* margin-bottom: 30px; */
  font-weight: bold;
  /* width: 19%; */
  text-align: center;
}

.business-list {
  margin-top: 80px;
  background-color: white;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.business-card {
  border: 2px solid rgb(231, 223, 223);
  border-radius: 15px;
  width: 90%;
  margin: 40px;
  display: flex;

  /* margin: 0 auto; */
}

.word-session {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-area {
  /* background-color: black; */
  color: black;
  text-decoration: none;
}

.bus-title {
  color: black;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  bottom: 90px;
  text-align: center;
}

.bus-des {
  color: white;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 3px;
  background-color: rgb(244, 57, 57);
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 12px;
  font-weight: bold;
  position: relative;
  bottom: 70px;
  text-align: left;
  width: auto;
}

.bus-address {
  padding: -10px;
  position: relative;
  top: -10%;
  left: 10%;
}

.food-img {
  height: 300px;
  width: 400px;
  border-radius: 13px;
}

.review-home {
  color: rgba(110, 112, 114, 1);
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.far.fa-comment {
  color: black;
  margin-right: 3px;
  margin-left: 8px;
}
