body {
  font-family: Helvetica Neue, sans-serif;
}

.master-nav {
  display: flex;
  border-bottom: 2px solid gray;
  height: 150px;
}

.profile-button {
  height: 30px;
  width: 50px;
  position: absolute;
  left: 90%;
  top: 4%;
}

.all-list {
  color: black;
  position: relative;
  left: 89%;
  top: 10%;
}
.home-icon {
  height: 50px;
  width: 60px;
  /* margin-right: 20px; */
  position: relative;
  top: 60px;
  left: 50px;
}

.hometag {
  width: auto;
  color: black;
  position: absolute;
  left: 15%;
  top: 8%;
  text-decoration: none;
  font-size: 20px;
}

.home {
  text-decoration: none;
  font-size: 20px;
}

.hometag:hover,
.home:hover {
  font-size: 22px;
}
