body {
  background: url("https://images.squarespace-cdn.com/content/v1/5a06aac2cf81e04b144237a5/1532940426404-X69ZZ4A29BFRROW19A8M/IMG_0615.jpg");
  background-size: cover;
  animation: slide 60s linear;
}
.nav {
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: flex-end;
  height: 10%;
}
