html,
body {
  margin: 0px;
  height: 100%;
}

.slash-container {
  background-image: url("https://images.alphacoders.com/438/438979.jpg");
  font-family: Helvetica Neue, sans-serif;
  background-size: 96%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
}

.nav {
  color: white;
  display: flex;
  justify-content: flex-end;
}

.signup {
  font-family: Helvetica Neue, sans-serif;
  height: 50%;

  border-radius: 10px;
  margin: 10px;
  font-weight: 450;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  padding: 15px;
  width: 7em;
  border: 2px solid #f5f5f5;
  background-color: red;
  color: white;
  position: relative;
  top: 10%;
}

.demo {
  font-family: Helvetica Neue, sans-serif;
  height: 50%;
  border-radius: 10px;
  margin: 10px;
  font-weight: 450;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  padding: 10px;
  width: 7em;
  position: relative;
  border: 2px solid #f5f5f5;
  background-color: beige;
  color: white;
  background-color: rgba(37, 37, 37, 0);
  top: 10%;
}

.login-button {
  font-family: Helvetica Neue, sans-serif;
  height: 50%;
  border-radius: 8px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 450;
  padding: 15px;
  width: 7em;
  border: 2px solid #f5f5f5;
  background-color: rgba(37, 37, 37, 0);
  color: white;
  text-align: center;
  position: relative;
  top: 10%;
}

.icon {
  height: 50px;
  position: absolute;
  left: 10%;
  top: 3%;
  z-index: 1;
}

.title {
  position: relative;
  z-index: 1;
  left: 3%;
  top: 2%;
  font-size: 55px;
  font-family: Helvetica Neue, sans-serif;
  color: white;
  height: 1%;
}

@media screen and (max-width: 1700px) {
  .icon {
    position: relative;
    left: 0;
    right: 0;
    z-index: -1;
    margin: auto;
    width: auto;
  }

  .title {
    color: white;
    height: auto;
    width: auto;
  }
}

.footer {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  background-color: rgba(21, 15, 15, 0.546);
  bottom: 0;
  width: 99%;
  height: 5%;
  align-items: center;
  padding: 5px;
  color: white;
  font-family: Helvetica Neue, sans-serif;
}

.linkedin {
  color: white;
  font-family: Helvetica Neue, sans-serif;
}

.links {
  color: white;
  font-family: Helvetica Neue, sans-serif;
}

.signup:hover {
  background-color: transparent;
}

.login-button:hover,
.demo:hover {
  background-color: red;
}

.linkedin:hover,
.links:hover {
  color: red;
}
