.spec-title {
  font-size: 30px;
  color: white;
  font-weight: 700;
  position: relative;
  top: 250px;
  left: 100px;
}

.spec-des {
  font-size: 8px;
  color: white;
  position: relative;
  top: 230px;
  left: 100px;
}

.banner-session {
  margin-top: -45px;
  background-size: contain;
}

.photo-session {
  font-size: 35px;
  position: relative;
  left: 550px;
}

.photo {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(235, 230, 230);
}

.image {
  height: 400px;
  border-radius: 50px;
}

.info-session {
  font-size: 35px;
  position: relative;
  bottom: 120px;
  margin-bottom: 70px;
}

.description {
  position: relative;
  bottom: 120px;
}

.address {
  position: relative;
  bottom: 10px;
}

.recommend {
  margin-left: 20px;
}

.edit-button {
  background-color: red;
  color: white;
  border-radius: 8px;
  position: relative;
  top: 10px;
  font-size: 15px;
  font-weight: bold;
}
.delete-button {
  background-color: red;
  color: white;
  border-radius: 8px;
  position: relative;
  top: 20px;
  font-size: 15px;
  font-weight: bold;
}

.detail-container {
  overflow: hidden;
}
